body {
  margin: 0px;
}

.site-container {
  width: 100%;
  margin: auto;
}

header {
  background-color: black;
  color: #CECECE;
}

img {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.top-layer {
  position: absolute;
  top: 0px;
  left: 0px;
}

p, h1, h2, h3, h4 {
  margin: 0px;
}

.intro-container {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
}

.author-date-content p {
  text-align: center;
  font-size: 14px;
}

.context-container {
  font-style: italic;
}

.article-container p, h3, h4 {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.section-one, .section-two, .section-three {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.section-one {
  background-color: #910000;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.section-two, .section-four, .section-six{
  background-color: #F2F2F2;
}

.intro-container, .section-four, .section-five, .section-six {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  bottom: 0;

  /* Dimensions */
  width: 100%;
  height: 10px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #9D0000;
}


  progress::-webkit-progress-bar {
    background-color: transparent;
  }

/* Color of the Progress bar for Mozilla based browsers  */
  progress::-moz-progress-bar {
    background-color: #9D0000;
  }

/* Color of the Progress bar for Chrome based browsers  */
  progress::-webkit-progress-value {
    background-color: #9D0000;
  }
