body {}

.site-container {
  width: 100%;
  margin: auto;
}

header {
  background-color: black;
  color: #CECECE;
}

img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.intro-container {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
}

.author-date-content p {
  text-align: center;
  font-size: 14px;
}

.article-container {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
}

.section-one, .section-two, .section-three p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.section-one, .section-three, .section-five{
  background-color: #F2F2F2;
}

.intro-container, .section-four, .section-five, .section-six p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
