body {

}

.site-container{
width: 100%;
margin: auto;
}

header {
background-color: black;
color: white;
padding-bottom: 5px;
}

img{
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.section-one .section-two .section-three p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}



.intro-container, .section-four, .section-five, .section-six p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
